

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-size: 16px;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.container{
    width:70%;
    max-width: 1200px;
    margin:0px auto;
}
.lighter-text{
    color: #627382;
}
.green-color{
    color:#469165;
}

header {
    width:100%;
}

nav {
    background-color: white;
    margin:0px auto;
    display:flex;
    justify-content: space-between;
    padding:10px 0;
    align-items: center;
}

nav img{
    height: 60px;
}

nav ul {
    list-style-type: none;
    margin:auto;
    
}
nav ul li {
    display: inline-block;
    margin:0 5px;
}

nav ul li a{
    text-decoration: none;
    color:black;
}

nav button{
    background-color: #469165;
    color:white;
    display: inline-block;
    padding: 12px 16px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}

nav button:hover{
    background-color: #30744c;
}

.banner-section{
    background-image: url('../assets/hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    color:white;
    width:100%;
    background-size: cover;
}

.text-content{
    padding: 70px 0 134px 0;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.early-access{
    color: #469165;
    background:white;
    padding:10px 15px;
    border-radius: 20px;
}
.early-access p i{
    margin-right: 5px;
}

.heading{
    font-size: 72px;
}
.heading-green{
    color: #469165;
    font-size: 72px;;
}

.description{
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-bottom:20px
}

.buttons{
    display:flex;
    gap:10px;
}

.buttons button{
    padding: 12px 16px;
    border-radius: 5px;
    color:white
}

.green {
    background-color:#469165 ;
    color:white;
    border: 1px solid #469165 ;
    cursor: pointer;
}
.green:hover{
    background-color: #30744c;
    border: 1px solid #30744c;
}
.transparent{
    background-color: transparent;
    border:1px solid white;
    cursor: pointer;
}
.transparent:hover{
    background-color: #30744c;
    border: 1px solid #30744c;
}
.notes-heading {
    font-size: 48px;
    font-weight: bold;
    color:black;
    text-align: center;
    margin-top: 30px;
}
.notes-description{
    text-align: center;
    margin-top:20px;
}

.cards{
    display:flex;
    gap:24px;
}

.card{
    padding: 24px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.icon{
    background: #F95555;
    border-radius: 50%;
    padding:20px;
    color:white;
}

.title{
    font-size: 24px;
    font-weight: semi-bold;
    text-align: center;
    margin: 15px 0;
}
.card-description{
    text-align: center;
}


.brain-section{
    display:flex;
    margin: 120px auto;
}

.brain-section img{
    width:50%;
}

.brain-info{
    margin:auto;
}
.solution{
text-transform: uppercase;
font-weight: medium;
}
.brain-info h3{
    font-weight: bold;
    font-size: 48px;
}
.brain-description{
    margin:20px 0 40px 0;
}
.brain-info ul{
    list-style-type: none;
}

.brain-info ul li{
    margin-top:10px;
    font-weight: medium;
}

.think-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:black;
    margin-bottom:120px;
}

.think-section h3{
    font-size: 40px;
    font-weight: bold;
}
.think-section p{
    margin:24px 0;
    text-align: center;
}
.think-section button{
    padding: 12px 16px;
    border-radius: 5px;
}

.offer{
    display:flex;
    gap:10px;
    align-items: center;
}
.dot{
    width:5px;
    height:5px;
    background-color: #627382;
    border-radius: 50%;
}

footer{
    background-color: #001931;
    padding: 120px 0 30px 0;
}
.footer-content{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.footer-content img{
    height: 60px;
}

.links{
    color:white;
}
.footer-text{
    text-align: center;
    border-top: 1px solid #627382;
    padding-top: 20px;
    margin-top:30px;
}