

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-size: 16px;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
};

header {
    background-color: red;
    width:100%;
}

nav {
    width:70%;
    max-width: 1200px;
    background-color: white;
    margin:0px auto;
    display:flex;
    justify-content: space-between;
    padding:10px 0;
    align-items: center;
}

nav img{
    height: 60px;
}

nav ul {
    list-style-type: none;
    margin:auto;
    
}
nav ul li {
    display: inline-block;
    margin:0 5px;
}

nav ul li a{
    text-decoration: none;
    color:black;
}

nav button{
    background-color: #30B868;
    color:white;
    display: inline-block;
    padding: 12px 16px;
    border:none;
    border-radius: 5px;
}